body {
    background-color: rgb(240, 240, 240);
    font-family: 'Montserrat', sans-serif;
}

.refresh-button {
  margin:auto;
  margin-bottom: 2rem;
  text-align: center;
  width: 15vw;
}

.kw-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.appendice {
  /* background: rgb(240,240,240); */
  background: linear-gradient(138deg, rgba(250,250,250,1) 40%, rgba(240,240,240,1) 18%);
  height: 3.5rem;
  margin-left: 18rem;
  width: 4rem;
}

#container {
  background-color: gold;
  float: right;
  margin: -20rem 7rem 0.1rem 0.1rem;
  /* margin:auto; */
  max-width: 32vw;
  padding: 3rem;
}

h1 {
  background-color: gold;
  font-weight: 500;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}

span {
  background-color: rgb(250, 250, 250);
  border-radius: 5rem;
  margin: auto;
  padding: 2rem 2rem;
  text-align: center;
  width: 80vw;
}

a {
  background-color: gold;
  border-radius: 5rem;
  color: rgb(70, 70, 70);
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
}

a:hover {
  background-color: #d4d3d1;
  transition: transform 450ms, background-color 300ms 150ms, color 900ms;
}

a:not(:hover) {
  transition: transform 450ms, background-color 1000ms 150ms, color 700ms;
}

.kanye {
  margin-left: 1rem;
}

#container img {
  margin-top: 2rem;
  width: 100%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 690px) {
  .refresh-button {
    font-size: 4.6rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 26vw;
  }

  #container {
    margin: -20rem 4rem 0.1rem 0.1rem;
    max-width: 38vw;
    padding: 2rem;
  }

  span {
    font-size: 2.6rem;
    margin: auto;
    padding: 2rem 1rem;
    width: 90vw;
  }

  h1 {
    font-size: 3rem;
  }

  a {
    font-size: 3rem;
    margin-top: 1rem;
    padding: 1rem 3rem;
  }
}
